
*{
    background-color:#609be7; 
    margin-top: 60px;
    margin-left: 70px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color:white;
    box-shadow: #0000000d 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;       
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    letter-spacing: 3px;
    background-color:hsl(221, 91%, 64%);
    color: #fff; 
    box-shadow: #287ceb 0px 7px 29px 0px; 
}
 

button:active {
    letter-spacing: 3px;
    background-color: #327ef1; 
    color: #fff; 
    box-shadow: #346ce4 0px 0px 0px 0px; 
    transform: translateY(10px); 
    transition: 100ms;
}

